@charset "UTF-8";


body, h1, h2, h3, h4, h5, h6,
p, li, span, div, section, article,
input, select {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.skin-blue .main-header .logo b {
	visibility: hidden;
}

/*
	2018/05/21変更 by成瀬
*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	text-align: left;
}
.table th.listUser {
	width:20%;
}

.tr-list-in-detail {
	background-color:#2e3780;
	color: #FFF;
}

.th-list-in-detail {
	background-color:#f8f4ed;
}


	@media screen and (max-width: 480px) {
		.taskNotice {
			width: 15% !important;
			overflow: hidden;
		}
		.taskSEQ {
			display: none !important;
		}
		.taskMemberID {
			width: 20% !important;
			overflow: hidden;
		}
		.taskStatus {
			width: 25% !important;
			overflow: hidden;
		}
		.taskKind {
			display: none !important;
		}
		.taskTitle {
			width: 40% !important;
			overflow: hidden;
		}
		}
		@media screen and (max-width: 768px) {
			.box-body {
					padding: 0 !important;
					border: none !important;
			}
		}
		@media screen and (max-width: 940px) {
		.taskNotice {
			width: 10% !important;
			overflow: hidden;
		}
		.taskSEQ {
			display: none !important;
		}
		.taskMemberID {
			width: 20% !important;
			overflow: hidden;
		}
		.taskStatus {
			width: 20% !important;
			overflow: hidden;
		}
		.taskKind {
			width: 15% !important;
			overflow: hidden;
		}
		.taskTitle {
			width: 35% !important;
			overflow: hidden;
		}
		}
		@media screen and (max-width: 1024px) {
		.taskNotice {
			width: 5% !important;
			overflow: hidden;
		}
		.taskSEQ {
			width: 5% !important;
			overflow: hidden;
		}
		.taskMemberID {
			width: 20% !important;
			overflow: hidden;
		}
		.taskStatus {
			width: 20% !important;
			overflow: hidden;
		}
		.taskKind {
			width: 15% !important;
			overflow: hidden;
		}
		.taskTitle {
			width: 35% !important;
			overflow: hidden;
		}
		.taskContests {
			display: none !important;
		}
		}
		@media screen and (max-width: 1880px) {
		.taskNotice {
			width: 5% !important;
			overflow: hidden;
		}
		.taskSEQ {
			width: 5% !important;
			overflow: hidden;
		}
		.taskMemberID {
			width: 15% !important;
			overflow: hidden;
		}
		.taskStatus {
			width: 15% !important;
			overflow: hidden;
		}
		.taskKind {
			width: 10% !important;
			overflow: hidden;
		}
		.taskTitle {
			width: 20% !important;
			overflow: hidden

		}
		.taskContests {
			width: 30% !important;
			overflow: hidden;
		}
		.taskRegDate {
			display: none !important;
		}
		.taskDelete {
			display: none !important;
		}
		}
		.taskNotice, .taskSEQ, .taskMemberID, .taskStatus,
		.taskKind, .taskTitle, .taskContests, .taskRegDate, .taskDelete	{
			white-space: initial !important;
			}
		.taskNotice {
		width: 5% !important;
		overflow: hidden;
		}
		.taskSEQ {
		width: 5% !important;
		overflow: hidden;
		}
		.taskMemberID {
		width: 10% !important;
		overflow: hidden;
		}
		.taskStatus {
		width: 10% !important;
		overflow: hidden;
		}
		.taskKind {
		width: 10% !important;
		overflow: hidden;
		}
		.taskTitle {
		width: 15% !important;
		overflow: hidden;
		}
		.taskContests {
		width: 35% !important;
		overflow: hidden;
		}
		.taskRegDate {
		width: 10% !important;
		overflow: hidden;
		}
	/.taskContests1 {			white-space: initial !important;
}
.taskDelete1 {			white-space: initial !important;
}
.taskKind1 {			white-space: initial !important;
}
.taskMemberID1 {			white-space: initial !important;
}
.taskNotice1 {			white-space: initial !important;
}
.taskSEQ1 {			white-space: initial !important;
}
.taskStatus1 {			white-space: initial !important;
}
.taskTitle1 {			white-space: initial !important;
}

/*追加_20180119以降*/
.button_style{
	width: 250px;
	padding: 12px;
	font-weight: bold;
	font-size: 15px;
	background: #4169e1;
	color: #FFF;
	border: 1px solid #4169e1;
	border-radius: 5px;
}
.input_text {
	width: 250px;
	margin-bottom: 10px;
	padding: 12px;
	padding-left: 55px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
.treeview-menu li{
	background: #646464;
	font-weight:bold;
}
.box1 {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	margin-bottom: 42px;
	width: 100%;
}
.box2 {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	margin-bottom: 20px;
	width: 80%;
}
h3 {
	margin: 0;
	line-height: normal;
	font-size: 17px;
	font-weight: bold;
}
.h3_different {
	margin: 0;
	padding: 0 0 16px 0;
	line-height: normal;
	font-size: 17px;
	font-weight: bold;
}
h4 {
	line-height:normal;
	font-size: 15px;
	font-weight: normal;
	padding-left: 16px;
	margin-bottom: 8px;
}
.h4_different {
	padding: 25px 0 0 16px;
	margin-bottom: 8px;
	line-height:normal;
	font-size: 15px;
	font-weight: bold;
}
h5 {
	padding: 30px 0;
	font-size: 15px !important;
	font-weight: bold;
	padding-left: 20px;
}
h6 {
	padding: 12px 5px 12px 20px;
	font-size: 20px !important;
}
.title_for_secretariat {
	margin-left: 7px;
	color: #ffffff;
}
.title_border {
	border-bottom:2px solid #ccc;
	line-height:36px;
	margin-bottom:30px;
}
.box-body {
	padding: 0;
}
.box-body_middle {
	background-color: #ededed;
	padding-bottom: 16px;
	border-top: 1px solid #b3b3b3;
}
/*.import_title {
	font-weight:bold;
}*/
.import_title_side {
	margin-right: 44px;
	font-weight:bold;
}
.import_btn {
	/*background: #26643f;
	color: #fff;
	width: 100px;
	height: 36px;*
	font-weight: normal;*/
color: white;
background-color: #1abc9c;
border-color: #17a689;
background-image: linear-gradient(to bottom, #32b496, #2d9e84);
	
}
.import_btn.large {
	width: 180px;
}
.import_btn_variable span {
	font-size: 1.4rem;
	background: #26643f;
	color: #fff;
	height: 36px;
	padding: 0 15px;
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 3px;
	transition: .3s ease-in-out;
}
.import_btn_variable span:hover {
	background-color: #75c395;
}
.import_btn_search {
	background: #4169e1;
	color: #fff;
	width: 100px;
	height: 36px;
	font-weight: normal;
	/*color: white;
		background-color: #1abc9c;
		border-color: #17a689;
		background-image: linear-gradient(to bottom, #32b496, #2d9e84);*/
	color: #fff;
	background-color: #1abc9c;
	border-color: #17a689;

}
.import_btn_search.large {
	width: 150px;
}
.mypage_smart_id_btn {
	background: #fff;
	color: #252525!important;
	font-weight: normal;
	font-size: 1.2rem;
	border: none;
}
.mypage_smart_id_btn:hover {
	text-decoration: underline;
}
.mypage_smart_id_btn::before {
	content: url(../image/yazirushi.png);
	margin: 0 4px 0 0;
	display: inline-block;
	top: 4px;
	position: relative;
}
.btn_right {
	text-align:right;
	margin-top: 8px;
}
.btn_left {
	margin: 16px 0 0 0;
	letter-spacing: -.4em;
}
.btn_left input[type=submit]:not(:last-child),
.btn_left input[type=reset]:not(:last-child),
.btn_left a:not(:last-child),
.btn_center input[type=submit]:not(:last-child),
.btn_center input[type=reset]:not(:last-child),
.btn_center a:not(:last-child) {
	margin-right: 20px;
	display: inline-block;
}
.btn_left input[type=submit],
.btn_left input[type=reset],
.btn_left a,
.btn_center input[type=submit],
.btn_center input[type=reset],
.btn_center a {
	letter-spacing: normal;
	display: inline-block;
}
.btn_center {
	text-align:center;
	margin: 16px 0 0 0;
}
.btn_center_another {
	text-align:center;
	margin: 16px 0 0 0;
}
.btn_center input + p {
	margin-top: 5px;
}
.copyright_center {
	text-align:center;
}
.customer_file_side {
	display: inline-block !important;
	width:60%;
	border-radius: 3px;
}
.Blank_line {
	margin-bottom:8px;
}
.Blank_line_1 {
	margin-bottom:1px;
}
.Blank_line_7 {
	margin-bottom:50px;
}
.space_name {
	margin-right: 10px;
}
.td_title {
	text-align: left !important;
	width:225px;
	font-weight:bold;
	background:#e7e7e7;
}
.startdate {
	width: 200px;
	padding: 10px 0px 10px 15px !important;
	white-space:nowrap;
	 vertical-align: middle !important;
	 border-right: none !important;
}
.startdate_input{
	width: 96px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #acacac;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
}
.while {
	width: 32px;
	font-size: 17px;
	border-right: none;
	white-space:nowrap;
	 vertical-align: middle !important;
	 border-right: none !important;
	text-align: center;
}

.enddate {
	padding: 10px 0px 10px 0px !important;
	text-align:left;
	white-space:nowrap;
	 vertical-align: middle !important;
	 text-align: left !important;
}
.enddate2 {
	width: 200px;
	padding: 10px 0px 10px 0px !important;
	text-align:left;
	white-space:nowrap;
	 vertical-align: middle !important;
	 text-align: left !important;
	 border-right: none !important;
}
.select {
	position: relative;
	padding: 8px 0 0 0 !important;
	text-align:left;
	white-space:nowrap;
	vertical-align: middle !important;
	text-align: left !important;
}
.non_paymenttype {
	width: 60px;
	height: 28px;
}
.business_company {
	width: 220px;
	height: 28px;
}
.output_target_day {
	width: 120px;
	height: 30px;
}
.select_design , .select_design select{
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
}
.select_design::-ms-expand {
	display: none;
}
.billing_csv_link {
	position: relative;
	height: 37px;
	margin-right: 10px;
	float: right;
	color: black !important;
	text-decoration: underline;
}
.billing_csv_link:before {
	content: url(../image/yazirushi.png);
	position: relative;
	left: -5px;
	top: 2px;
}
.billing_csv_link_center {
	display: block;
	position: relative;
	margin-right: 10px;
	float: center;
	font-size: 15px;
	font-weight: normal;
	color: black !important;
	text-decoration: underline;
	line-height: normal;
}
.billing_csv_link_center:before {
	content: url(../image/yazirushi.png);
	position: relative;
	left: -5px;
	top: 2px;
}
.check_td {
	text-align: left !important;
	vertical-align: middle !important;
}
.check {
	width: 10%;
}
.check_label {
	position:relative;
	margin-left: 10px;
	display: inline!important;
}
.check_small {
	position: relative;
	top: 2px;
}
.check_label_breakdown {
	width: 20%;
	position: relative;
	margin-left: 10px;
}
.check_label_pass {
	position:relative;
	left: 35px;
	top: -24px;
}
.btn_middle {
	background:#25633d;
	color:#fff;
	width:161px;
	height:49px;
	font-size: 15px;
	font-weight: normal;
	border: 1px solid #25633d;
	-webkit-border-radius: 5px;
}
.btn_search {
	background:#808080;
	color:#fff;
	width:110px;
	height:30px;
	margin-left: 8px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #808080;
	-webkit-border-radius: 3px;
}
.btn_output_csv {
	background:#5dab6f;
	color:#fff;
	width:110px;
	height:30px;
	margin-left: 8px;
	float: right;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #5dab6f;
	-webkit-border-radius: 3px;
}
.btn_new_link {
	position: relative;
	width: 82px;
	height: 25px;
	top: -2px;
	margin-right: 10px;
	float: right;
	background: #25633d;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	border: 1px solid #25633d;
	-webkit-border-radius: 5px;
}
.pager_position {
	text-align: right;
}
.wrap_scroll {
	/*overflow: auto;*/
	/*height:900px;*/
}

.table_box {
	padding: 12px 0 12px 16px;
	/*height: 50px;*/
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 5px;
}
.table_big_header {
	width: max-content !important
	;
	margin-bottom: 50px;
}
.table_result tr:nth-child(1) {
	background:#838383 !important;
	color:#fff;
}
.table_result_client thead {
	background:#d6d6d6;
	border: 1px solid #bdbdbd;
	
}
.table_result_client tbody {
	background:#fff;
	border: 1px solid #bdbdbd;
}
.table_result_element {
	width:auto;
}
.search_results_body {
}
.search_results {
	/*padding: 28px 16px 50px;*/
}
.search_results_head {
	text-align:center;
	padding-bottom: 8px;
}
.search_results_head_part2 {
	padding-bottom: 8px;
}
.search_results_head_part3 {
	text-align:center;
	padding-bottom: 10px;
}
.search_results_head_part4 {
	text-align:center;
}
.search_results_h {
	text-align:center;
	font-weight: bold;
	font-size: large;
}
.search_results_collection {
	font-size: large;
}
.search_results_number {
	font-size:x-large;
	font-weight:bold;
}
.alternate_color tr:nth-child(2n+1) {
	background: #f1f1f1;
}
.alternate_color tr:nth-child(2n) {
	background: #ffffff;
}
.registration_text {
	color:#52aa39;
}
.textsize_matter {
	font-size:1.7em;
	font-weight: bold;
}
.smart_payment_text {
	color:#e3554b;
}

ul.prev{
	padding:0;
	width: 100px;
	margin-left: 12px;
}
.prev_btn{/* 戻るボタン */
	display: block;
	float: left;
	width:35px;
}
.prev_btn a{
	display: block;
	position: absolute;
	margin: -15px 0 0 30px;
	width: 60px;
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	z-index: 5;
	line-height: 90px;
	text-align: center;
}
.prev_btn a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 27px;
	width: 26px;
	height: 25px;
	-webkit-transform-origin: left top;
	-webkit-transform: rotate(45deg);
	-moz-transform-origin: left top;
	-moz-transform: rotate(45deg);
	transform-origin: left top;
	transform: rotate(45deg);
	background: #25633d;
	border-left-color: #25633d;
	border-bottom-color: #25633d;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-right: none;
	border-top: none;
	z-index: -1;
	writing-mode: horizontal-tb;
}
.prev_btn a:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 27px;
	width: 70px;
	height: 36px;
	background: #25633d;
	border-right-color: #25633d;
	border-width: 1px;
	border-style: solid;
	z-index: -2;
}
.table_left {
	float:left;
}
.table_head {
	color:#FFF;h
	 background: #838383;
}
.table_blank_line {
	width: 100%;
	max-width: 100%;
	margin-bottom: 40px;
}
table.table02 {
	width:100%;
	background: #F5F5F5 none repeat scroll 0% 0%;
	margin: 0 30px 0 0px;
	font-size: 13px;
	clear: both;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 5px;
	overflow: hidden;
	border-left: none;
	border-bottom: none;
}

table.table02 th {
	height: 35px;
	width: 195px;
	padding: 3px;
	background-color: #F5F5F5;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
table.table02 tr:nth-child(1) th {
	background-color: #838383;
	color: #fff;
	font-weight: 100;
	text-align: center;
	padding: 3px;
	white-space: nowrap;
	height: 35px;
}

table.table02 td {
	padding: 10px;
	background-color: #FFF;
	text-align: center;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
/* 	font-weight: bold; */
}
body .table > thead > tr > th {
	border-bottom:none;
}

.check_position {
	float: left;
}
.check_position_output{
	padding: 8px 0 0 3px;
}
.button_design{
	width: 60px;
	height: 25px;
	margin:0 !important;
	padding: 2px 5px;
	font-weight: bold;
	font-size: 11px;
	background: #25633d;
	color: #FFF;
	border: 1px solid black;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	float: right;
}
.button_design_pass{
	width: 172px;
	height: 27px;
	position: relative;
	top: -12px;
	margin: 0 !important;
	font-weight: bold;
	font-size: 15px;
	background: #25633d;
	color: #FFF;
	border: 1px solid #25633d;
	border-radius: 5px;
}
.alert_text {
	font-size: 1.5em;
}
.delete_flag {
	display:inline;
	width:auto;
}
.logout_btn {
	background: #4169e1;
	color: #fff;
	width: 84px;
	height: 23px;
	font-size: 11px;
	font-weight: normal;
	border: none;
	border-radius: 3px;
	position: relative;
	top: -2px;
	transition: .3s ease-in-out;
}
.logout_btn:hover {
	text-decoration: none;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input.cch_txt {
	margin-left: 15px;
}
.date_term {
	text-align:left;
	white-space:nowrap;
}
.checkbox_big {
	width: 24px;
	height:	24px;
	-moz-transform:	scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}
.checkbox_middle {
	width: 16px;
	height: 19px;
	-moz-transform:	scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}
input.checkbox_middle_pass {
	width: 16px;
	height: 19px;
	margin: 4px 3px 0;
	-moz-transform:	scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}
.breakdown {
	position: relative;
	top: -8px;
	left: 10px;
}
.breakdown_checked {
	margin: 0 0 10px 10px;
}
.inputStyle_01 {
	overflow:hidden;
	clear:both;
}
.header_user_name {
	/* font-size: 16px; */
	padding-left:6px;
}
.content_head {
	height: 50px;
	background-color: #dfefe4;
}
.content_head div {
	padding: 10px 0 10px 24px;
	border-bottom: 1px solid #cfcfcf;
	font-size: 20px;
	font-weight: bold;
}
.content_position {
	padding: 16px 0 16px 16px;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #cfcfcf;
}
.content_position_character {
	padding-top: 16px;
	border-top: 1px solid #b3b3b3;
}
.content_position_search {
	width: 100%;
	min-width: 740px;
	padding: 16px;
	border: 1px solid #cbcbcb;
	border-radius: 0 0 3px 3px;
}
.content_position_select {
	padding: 16px 0 16px 16px;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #cfcfcf;
}
.content_position_select_another {
	padding: 16px 0 16px 16px;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #cfcfcf;
}
.content_position_second_select {
	padding-top: 16px;
}
.content_position_second_select_part1 {
	height: : 16px;
}
.content_position_second_select_part2 {
	padding-top: 16px;
}

.content_item_position {
	padding: 3px 0 0 0;
	letter-spacing: -.4em;
}
.content_item_position_two_stage {
	padding-top: 2px;
	display: block;
}
.content_item_position > span {
	letter-spacing: normal;
	display: inline-block!important;
}
.content_item_position > .txt_before {
	margin-right: 3px;
}
.txt_position {
	padding: 16px 16px 0 16px;
}
.pc-side-nav-fixed {
	top: 0;
	width: 235px;
	position: fixed;
}
.p_end {
	margin-bottom: 16px;
}
/*@media screen and (max-width: 768px) {
	.table_sp {
		display: block;
	}
	.table_sp tr {
		display: block;
	}

	.table_sp tr td,
	.table_sp tr th {
		display: block;
	}
}*/

/*call_history.phpより移動*/

	.widget{
		width:1600px;
	}
	.table_detail {
		margin: 10px;
		/* width: 500px; */
	}
	.table_info {
		width: 1000px;
	}

	.table_detail tr th {
		background: #f8f4ed;
	}

	/*
	2018/05/22 編集by成瀬
	*/
	.table_detail tr.table_title th{
		height: 40px;
		color: #ffffff;
		background: #2e3780;
	}
	.table_detail th.listUser{
		color: black;
	}


	.textbox{
		border:0;
		padding:10px;
		font-size:1.3em;
		font-family:Arial, sans-serif;
		color:#2a2a2a;
		border:solid 1px #ccc;
		height: 30px;
		width:300px;
	}
	.longtextbox{
		border:0;
		padding:10px;
		font-size:1.3em;
		font-family:Arial, sans-serif;
		color:#2a2a2a;
		border:solid 1px #ccc;
		height: 30px;
		width:1000px;
	}
	.toggle{
		width:300px;
	}
	.longtoggle{
		width:1000px;
	}





th.title{
color: #FFF;
background: #25633d;
font-size:12px;
font-weight: normal;
padding: 2px 5px;
}
td.listUser{
padding: 0 5px;
font-size: 12px;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{
position: absolute;
bottom: 0;
right: 0;
}
.ui-dialog-buttonpane{
text-align: center;
border:none;
padding:10px 0;
}

#dialog-form{
overflow: hidden;
padding:10px;
}



.ui-widget-header {
border: 1px solid #25633d;
background: #25633d;
color: #ffffff;
font-weight: bold;
padding:10px 5px;
}

.ui-widget-content{
border:none;
}
.ui-widget.ui-widget-content{
border: 1px solid #25633d;
}

#create-user{
padding:5px;
}

.call_title {
	font-size:14px;
}
.call_btn {
	background:#25633d;
	color:#fff;
	width:230px;
	height:40px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.call_history_cancel {
	margin: 0px 20px 10px;
}
.select_box {
	border: none;
	font-weight: normal;
	border-radius: 5px;
}
.space {
	margin-right: 8px;
}
.space_lf {
	margin-left: 17px;
	font-size: 15px;
}
span.side_text_pos,i.side_text_pos {
	position: relative;
	top: 5px;
}


/*検索条件関係_20180222*/
li.paragraph_search_conditions_normal {
	display: inline-block;
	margin-right: 18px;
	vertical-align:top;
}
.paragraph_second_search {
	padding-top: 20px;
}
.text_size_w410 {
	width: 410px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_size_w240 {
	width: 240px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_size_w190 {
	width: 190px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_size_w140 {
	width: 140px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_size_w100 {
	width: 100px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
div.text_size_w100 input {
	width: 100px;
	height: 28px;
	padding: 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_phone_number {
	width: 155px;
	height: 30px;
	padding: 0 40px 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_corporation_number {
	width: 155px;
	height: 30px;
	padding: 0 40px 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_corporation_name {
	width: 152px;
	height: 30px;
	padding: 0 40px 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}
.text_name {
	width: 155px;
	height: 30px;
	padding: 0 40px 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc
}

.text_participating_store {
	width: 185px;
	height: 30px;
}
.text_Payment_name {
	width: 220px;
	height: 28px;
	padding: 0 40px 0 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.label_danger {
	display: inline-block;
	padding: 4px;
	position: relative;
	top: -2px;
	margin-left: 10px;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #d9534f;
}
.label_danger_small {
	padding: 1px;
	position: relative;
	top: -1px;
	margin-left: 10px;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #d9534f;
}
/*.search_conditions_select:after {
	position: absolute;
	top: 27px;
	left: 191px;
	content: " ";
	display: inline-block;
	width: 80px;
	height: 28px;
	background: url(../image/sample3.png) no-repeat;
	background-size: contain;
	vertical-align: middle;
}*/









/*
2018/02/08 added kusano
*/
.sidebar-menu>li>a {
	padding: 12px 5px 0 15px;
}
.skin-blue .sidebar-menu>li>a {
	font-size: 13px;
}
.sidebar-menu .treeview-menu>li>a {
	padding: 14px 10px 12px 38px;
	font-size: 12px;
	line-height: 1.6em;
}
.sidebar-menu .treeview-menu>li>a>.fa {
	display: none;
}
.sidebar-menu li>a>.fa-chevron-circle-left,
.skin-blue .sidebar-menu>li>a {
	transition: 0.2s ease-in-out;
}
/*
2018/02/23 added kusano 12-1-1
*/

h1 {

}
h1 span {
/* 	height: 48px; */
	font-size: 2.5rem;
	color: #2a2a2a;
	display: table-cell;
	vertical-align: middle;
}

.detail-title {
	margin: 0;
	/* margin-bottom: 10px; */
	font-size: 1.8rem;
	color: #323232;
	font-weight: bold;
	border: solid 1px #cbcbcb;
	padding: 11px 10px 10px 10px;
	background: #E6F5FE;
}


/*.content {
	width: 1103px;
	margin-left: 27px;
	padding-top: 20px;
}*/

h2 {
	margin: 0;
	/* margin-bottom: 10px; */
	font-size: 1.6rem;
	color: #323232;
	position: relative;
	font-weight: bold;
	border: solid 1px #cbcbcb;
	border-bottom:0px;
	padding: 11px 10px 10px 10px;
	border-radius: 4px 4px 0px 0px;
	background: linear-gradient(110deg, #E6F5FE 65%, #cff9f4);
}

h3 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.6rem;
	color: #010101;
	position: relative;
}
.warning_text {
	padding-left: 30px;
	 font-size: 18px;
}
.content_more_detail {
	min-height: 250px;
	margin-left: 15px;
	padding-right: 15px;
	width: 1103px;
}

.search_box {
	width: 1024px;
	margin-bottom: 40px;
	padding: 10px;
	border: 1px solid #868686;
	border-radius: 4px;
}

.search_box h2 {
	/*padding-left: 15px;*/
	color: #706d6d;
}
/*.search_box h2::before {
	width: 8px;
	height: 20px;
	content: '';
	background-color: #838383;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}*/

.edit_btn_top .green_btn {
	position: absolute;
	top: 126px;
	right: 0;
	z-index: 10;
}
.edit_btn_under .green_btn {
	position: absolute;
	right: 0;
	z-index: 10;
}
.edit_btn_bot .green_btn {
	position: absolute;
	right: 0;
	z-index: 10;
}
.green_btn input {
	height: 28px;
	padding: 0 19px;
	font-size: 1.3rem;
	color: #fff;
	background-color: #26643f;
	border-radius: 3px;
	display: table-cell;
	vertical-align: middle;
	transition: .3s ease-in-out;
}
.green_btn a:hover {
	background-color: #8cd3a9;
}

.horizontal_tbls {
	letter-spacing: -.4em;
}
.horizontal_tbls .tbl {
	letter-spacing: normal;
	display: inline-block;
}
.horizontal_tbls .tbl:not(:last-child) {
	margin-right: 12px;
}

.table_result_client th,
.table_result_client td,
table.tbl_result th,
table.tbl_result td {
	vertical-align: middle!important;
	white-space: nowrap;
	font-size: 1.2rem;
}
.table_result_client th,
table.tbl_result th {
	padding: 5px;
	font-weight: bold;
}
.table_result_client tr:nth-child(even) td {
	background-color: #f8f4ed;
}

.tbl_date {
	letter-spacing: -.4em;
}
.tbl_date .tbl,
.tbl_date .date {
	letter-spacing: normal;
	display: inline-block;
}
.tbl_date .tbl {
	margin-right: 29px;
}

/*table th,
table td {
	border: 1px solid #ddd;
	vertical-align: middle;
}
table th {
	font-size: 1.3rem;
	font-weight: normal;
	background-color: #e6e6e6;
	text-align: left;
	z-index: -1;
}
table td {
	font-size: 1.4rem;
}*/

table.tbl_col_w_180 {
	margin-bottom: 28px;
}
table.tbl_col_w_180 {
	width: 250px;
}
table.tbl_col_w_180 th,
table.tbl_col_w_180 td {
	width: 70%;
}
.tbl_ttl_top th,
table.tbl_col_w_180 th {
	padding: 6px 10px 7px;
}
.tbl_ttl_top td,
table.tbl_col_w_180 td {
	padding: 9px 5px 10px;
}
table.tbl_col_w_180 td {
	width: 50%;
}

.tbl_ttl_top {
	width: 100%;
	margin-bottom: 10px;
}
.tbl_ttl_top th,
.tbl_ttl_top td {
	text-align: center;
}

.tbl_date {
		margin-bottom: 28px;
}

.tbl_date .date {
		font-size: 1.3rem;
		color: #222d32;
}
.tbl_date .date > li {
		letter-spacing: -.4em;
}
.tbl_date .date > li:first-child {
		padding-top: 12px;
		margin-bottom: 20px;
}
.tbl_date .date > li span {
		margin-right: 16px;
		letter-spacing: normal;
		display: inline-block;
}
.tbl_date .date > li span:nth-child(1) {
		font-weight: bold;
}

.tbl_full_l {
		width: 100%;
		margin-bottom: 28px;
}
.tbl_full_l th {
		width: 180px;
		padding: 10px 10px 8px;
		color: #222d32;
		vertical-align: top;
}
.tbl_full_l td {
	padding: 10px 22px;
		font-size: 1.3rem;
		vertical-align: top;
}

table .shop_name > td > div,
table .address > td > div,
table .red_ttl_cols_fixed_list	{
		letter-spacing: -.4em;
}
table .shop_name > td > div > span,
table .address > td > div span,
table .red_ttl_cols_fixed_list > li {
		letter-spacing: normal;
		display: inline-block;
}
table .shop_name > td > div > span:first-child {
		width: 250px;
}
table .address > td > div > span:first-child {
		width: 94px;
}

table .red_ttl_cols_fixed_list + ul,
table .red_ttl_variable_list + ul {
		padding-top: 11px;
}
table .red_ttl_cols_fixed_list > li {
		width: 300px;
}
table .red_ttl_cols_fixed_list > li > span {
		height: 20px;
		display: block;
}
table .red_ttl_variable_list > li {
		display: table-cell;
}
table .red_ttl_variable_list > li > span {
		height: 20px;
		display: table-cell;
		vertical-align: middle;
}
table .red_ttl_cols_fixed_list > li > span:first-child,
table .red_ttl_variable_list > li > .w_fixed:first-child {
	width: 66px;
	height: 22px;
	padding-top: 3px;
	font-size: 1.2rem;
	background-color: #ffb2b2;
	border-radius: 3px;
	text-align: center;
}
table .red_ttl_variable_list > li > .w_variable:first-child {
	height: 22px;
	padding: 3px 7px 0;
	font-size: 1.2rem;
	background-color: #ffb2b2;
	border-radius: 3px;
	text-align: center;
}
table .red_ttl_variable_list > li > .w_66:first-child,
table .red_ttl_variable_list > li > .w_98:first-child,
table .red_ttl_variable_list > li > .w_130:first-child,
table .red_ttl_variable_list > li > .w_160:first-child,
table .red_ttl_variable_list > li > .w_180:first-child {
	height: 22px;
	padding-top: 3px;
	font-size: 1.2rem;
	background-color: #ffb2b2;
	border-radius: 3px;
	text-align: center;
}
table .red_ttl_variable_list > li > .w_66:first-child  { width: 66px; }
table .red_ttl_variable_list > li > .w_98:first-child  { width: 98px; }
table .red_ttl_variable_list > li > .w_130:first-child { width: 130px; }
table .red_ttl_variable_list > li > .w_160:first-child { width: 160px; }
table .red_ttl_variable_list > li > .w_180:first-child { width: 180px; }
table .red_ttl_cols_fixed_list > li > span:first-child {
	position: absolute;
}

table .red_ttl_variable_list > li > .w_fixed:first-child {
}
table .red_ttl_variable_list > li > .w_fixed:last-child {
	width: 155px;
	padding-left: 7px;
}
table .red_ttl_variable_list > li > .w_variable:last-child {
	padding: 0 30px 0 7px;
}

.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.pl25 { padding-left: 25px!important; }
.horizontal_tbls {
letter-spacing: -.4em;
}
.horizontal_tbls .tbl {
letter-spacing: normal;
display: inline-block;
}
.horizontal_tbls .tbl:not(:last-child) {
margin-right: 12px;
}



.content_position_search select,
.content_position_search input[type=text],
.content_position_search input[type=tel],
.content_position_search input[type=email],
.search_box input[type=text],
.search_box input[type=tel],
.search_box input[type=email],
input {
	height: 28px;
	padding: 0 5px;
	font-size: 1.2rem;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.05);
	//display: block;
}
.login input {height:auto;}
input[type="file"] {
	border:none;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,.05);
	border-radius: 3px;
}

input.w_100, textarea.w_100 { width: 100px; }
input.w_140, textarea.w_140 { width: 140px; }
input.w_190, textarea.w_190 { width: 190px; }
input.w_240, textarea.w_240 { width: 240px; }
input.w_410, textarea.w_410 { width: 410px; }

textarea {
	height: 75px;
	padding: 5px;
	font-size: 1.2rem;
	font-family: sans-serif;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	box-shadow:0px 2px 6px -2px rgba(0,0,0,.3) inset;
 font-family: sans-serif;
}

select {
	height: 28px;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	box-shadow:0px 2px 6px -2px rgba(0,0,0,.3) inset;
}
select.w_60  { width: 60px; }
select.w_90  { width: 90px; }
select.w_140 { width: 140px; }
select.w_206 { width: 206px; }
select.w_220 { width: 220px; }
select.w_410 { width: 410px; }

.radio_btns {
	letter-spacing: -.4em;
}
.radio_btns input[type=radio] {
	display: none;
}
.radio_btns p {
	letter-spacing: normal;
	display: inline-block;
}
.radio_btns.vertical p {
	display: block;
	margin-bottom: 0;
}
.radio_btns.vertical p + p {
	margin-top: 7px;
}
.radio_btns p.ttl {
	margin-right: 12px;
}
.radio_btns label {
	padding-left: 18px;
	text-align: left;
}
.radio_btns p:not(:last-child) label {
	margin-right: 18px;
}
.radio_btns label::before {
	content: url(../image/radio_btn_off.png);
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	transition: .3s ease-in-out;
}
.radio_btns.vertical label::before {
	top: 0;
}
.radio_btns input[type="radio"]:checked + label::before {
	content: url(../image/radio_btn_on.png);
}
.content_position_search .radio_btns p {
	margin: 0;
}

.form_parts + div.form_parts {
	margin-top: 10px;
}
.form_parts > div,
.form_parts .radio_btns {
	display: table-cell;
}
.form_parts > div:not(:last-child) {
	padding-right: 10px;
}
.form_parts .radio_btns {
	padding-top: 5px;
}

.form_parts .gray_box {
	padding: 6px 8px;
	background-color: #f0f0f0;
	border-radius: 2px;
}
.form_parts .gray_box .radio_btns {
	width: max-content;
	margin: auto;
	display: block;
}

.radio_btns_bot {
	margin-top: 20px;
	text-align: center;
}
.radio_btns_bot {
	font-size: 1.4rem;
}
.radio_btns_bot .radio_btns p:not(:last-child) label {
	margin-right: 25px;
}

.serach_btn_l {
	text-align: left;
}
.serach_btn_l input[type=submit] {
	width: 100px;
	height: 44px;
	font-size: 1.6rem;
	color: #fff;
	background-color: #26643f;
	border: none;
	border-radius: 3px;
	display: table-cell;
	vertical-align: middle;
}
.import_btn:hover,
.import_btn_search:hover,
.serach_btn_l input[type=submit]:hover {
color: #fff;
background-color: #17a689;
border-color: #17a689;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
input[type=submit] {
	transition: .3s ease-in-out;
}

.btn_desc {
	width: 60px;
	height: 28px;
	font-size: 1.2rem;
	color: #fff;
	background-color: #26643f;
	border: none;
	border-radius: 3px;
	display: table-cell;
	vertical-align: middle;
	transition: .3s ease-in-out;
}
.btn_desc:hover {
	background-color: #75c395;
}

.horizontal_input {
	letter-spacing: -.4em;
}
.horizontal_input input {
	letter-spacing: normal;
	display: inline-block !important;
}
.horizontal_input input + input {
	margin-left: 5px;
}

.content_position_search_list ul + ul {
	margin-top: 16px;
}
.content_position_search_list ul {
	padding: 0;
}

.caution {
	margin-top: 2px;
	font-size: 1.2rem;
	color: #0f0f0f;
}

.must {
	padding: 0 3px;
	font-size: 1rem;
	color: #fff;
	background-color: #ff0000;
	border-radius: 3px;
	display: inline-block;
	vertical-align: text-bottom;
}

.cnt_pager {
	position: relative;
}
.cnt_pager p:first-child {
	font-size: 1.4rem;
	font-weight: bold;
}
.cnt_pager p:nth-child(2) {
	position: absolute;
	top: -3px;
	right: 0;
}

.index_table_title {
	position: relative;
}
.index_table_title p:first-child {
	font-size: 1.4rem;
	font-weight: bold;
}
.index_table_title p:nth-child(2) {
	position: absolute;
	top: 3px;
	right: 0;

}



.search_result {
	width: 100%;
	min-width: 1024px;
	padding-right: 15px;
	position: relative;
}

.content {
	min-height:100vh !important;
}

.btns_submit_back {
	text-align: right;
	letter-spacing: -.4em;
}
.btns_submit_back li {
	letter-spacing: normal;
	display: inline-block;
}

/*
色々リセット*/
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo{
	/* border: none!important; */
}

.box {
	position: relative;
	border-radius: 0;
	background: #fff;
	border-top: none;
	margin-bottom: 20px;
	width: calc(100% - 27px);
	box-shadow: none;
	margin-left: 27px;
	padding-top: 20px;
}

label {
	position: relative;
	display: block;
}
/* 20181002 koike add */
.label_inline {
	position: relative;
	display: inline;
}

#id {
	height: 600px
}

.sidebar-toggle::before {
	transition: 0.3s ease-in-out;
	display: block;
}
.sidebar-collapse .sidebar-toggle::before {
	transform: rotate(-180deg);
}

.skin-blue .treeview-menu>li>a {
	transition: 0.3s ease-in-out;
}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
	color: #252525;
	background: #f5f5f5;
}

.role_management1 {
	margin-top: 20px;
}
.role_management2 {
	margin-top: 40px;
}

.content_position_search table tr:first-child th,
.content_position_search table tr:first-child td {
	padding: 0 16px 7px 0;
}
.content_position_search table tr:not(:first-child) th,
.content_position_search table tr:not(:first-child) td {
	padding: 7px 16px 7px 0;
}
/* .content_position_search table tr:not(:first-child) td {
	letter-spacing: -.4em;
} */
.content_position_search table tr th {
	font-weight: normal;
}
.content_position_search table tr td span:not(.vertical) {
	margin-right: 10px;
	letter-spacing: normal;
	display: inline-block!important;
}
.content_position_search table tr td span.check_box {
	margin-bottom: 4px;
	letter-spacing: normal;
	display: block!important;
}
.content_position_search table tr td span.check_box input[type=checkbox] {
	margin-right: 4px;
}

.content_position_search + .content_position_search {
	margin-top: 20px;
}

.content_position_search .ttl4_2 {
	padding: 0 0 4px 7px;
	margin: 0 0 18px;
	font-size: 1.5rem;
	border-bottom: 1px solid #c9c9c9;
}

.export_box {
	padding: 0 20px;
}
.export_box table {
	margin-bottom: 7px;
}
.export_box .btn_left {
	margin-top: 23px;
}
.export_box .gr_bdr_box {
	width: 480px;
	margin: auto;
	padding: 8px;
	border: 1px solid #26623c;
	border-radius: 2px;
	text-align: center;
}

.disc_list {
	margin: 0 0 10px;
	padding: 0 0 0 10px;
}
.disc_list li {
	list-style-type: disc;
	padding-left: 1em;
	text-indent: -1em;
	list-style-position: inside;
}

.disp_none { display: none; }

.slide_btn {
	cursor: pointer;
}

.slide_btn_box {
	margin: -28px 100px 10px 200px;
	text-align: right;
}

.slide_btn_gray {
	height: 20px;
	padding: 1px 6px 0 22px;
	font-size: 1.2rem;
	background: #efefef;
	border: 1px solid #bebebe;
	border-bottom-width: 2px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.slide_btn_gray::before {
	font-family: 'FontAwesome';
	content: '\f107';
	display: block;
	font-size: 1.8rem;
	position: absolute;
	top: -2px;
	left: 6px;
	transition: 0.3s ease-in-out;
}
.slide_btn_gray.active::before {
	transform: rotate(180deg);
	top: -4px;
}
.slide_btn_gray:hover {
	background: #e6e6e6;
	border-top-width: 2px;
	border-bottom-width: 1px;

}

.alert {
		padding: 15px;
		margin: 16px auto 3px;
		border: 1px solid transparent;
				border-top-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
		border-radius: 4px;
}
.slide_btn_box .alert {
	width: calc(100% + 300px);
	margin-left: -200px;
	border: 1px solid #a2a2a2;
	text-align: left;
}

.ab_right {
	width: 100%;
	position: relative;
}
.ab_right div {
	position: absolute;
	top: -28px;
	right: 0;
}

.btn_call_history a {
	height: 20px;
	padding: 2px 10px 0;
	font-size: 1.1rem;
	color: #252525!important;
	background-color: #fff;
	border: 1px solid #c6c6c6;
	border-bottom-width: 2px;
	border-radius: 4px;
	display: block;
	transition: 0.3s ease-in-out;
}
.btn_call_history a::before {
	margin-right: 3px;
	font-family: 'FontAwesome';
	content: '\f1da';
	display: inline-block;
}
.btn_call_history a:visited {
	color: #252525;
}
.btn_call_history a:hover {
	background-color: #e5e5e5;
	border: 1px solid #bfbfbf;
	border-top-width: 2px;
}

.btn_lgreen {
	font-size: 1.4rem;
	font-weight: normal;
	background:#92d050;
	color:#fff;
	transition: 0.3s ease-in-out;
}
.btn_lgreen:hover {
	color: #fff;
	background:#9ddb5c;
}

.alert-dismissable .close, .alert-dismissible .close {
	top: -4px;
	right: -3px;
}
.alert h4 {
	padding: 0;
	margin: 0;
}
.alert > p {
	font-size: 1.4rem;
}

.form_history_no { width: 110px; }/*履歴No*/
.form_cifid 		 { width: 110px; }/*CIF-ID*/
.form_corpcode	 { width: 125px; }/*法人番号*/
.form_zipcode 	 { width: 95px; } /*郵便番号*/
.form_address 	 { width: 350px; }/*住所*/
.form_tel 			 { width: 120px; }/*電話番号*/
.form_mail			 { width: 220px; }/*メアド*/
.form_name			 { width: 140px; }/*個人名*/
.form_full_name  { width: 200px; }/*個人名フル*/
.form_c_name		 { width: 350px; }/*会社名*/
.form_date			 { width: 95px; } /*日付*/
.form_manage_num { width: 140px; }/*事業者管理番号*/

.top_nav_right {
	position: absolute;
	top: 22px;
	right: 45px;
}
.top_nav_right > div {
	float: left;
	margin-left: 13px;
}

.main-header .sidebar-toggle {
	float: left;
	background-color: transparent;
	background-image: none;
	padding: 17px;
	font-family: fontAwesome;
	height: 70px;
	padding-top:25px;
	}


.main-header .sidebar-toggle:before {
	font-size: 1.5rem;
}

.ttl_btn {
	width: 100%;
	min-width: 740px;
	position: relative;
}
.ttl_btn a {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.ttl_btn a > span {
	padding: 2px 15px 0;
	height: 23px;
	font-size: 1.2rem;
	color: #252525;
	background-color: #fff;
	border: 1px solid #a0a0a0;
	border-bottom-width: 2px;
	border-radius: 3px;
	display: table-cell;
	vertical-align: middle;
	transition: .3s ease-in-out;
}
.ttl_btn a:hover > span {
	background-color: #f0f0f0;
	border: 1px solid #8e8e8e;
	border-bottom-width: 1px;
	border-top-width: 2px;
}

.inputfile_btn_box,
.export_btn_box {
	letter-spacing: -.4em;
}
.inputfile_btn_box > div,
.export_btn_box > div {
	letter-spacing: normal;
	display: inline-block;
}
.export_btn_box {
	margin: 20px 0;
	font-size: 1.4rem;
}
.export_btn_box > div {
	margin-right: 30px;
	vertical-align: middle;
}

.gray_small_list_box {
	display: table;
	margin: auto;
	border-collapse: separate;
	border-spacing: 10px 0;
}
.gray_small_list_box > div {
	width: 310px;
	padding: 10px;
	background-color: #eaeaea;
	border-radius: 3px;
	display: table-cell;
}

input::-webkit-input-placeholder {
	color: #c1c1c1;
}
input:-ms-input-placeholder {
	color: #c1c1c1;
}
input::-moz-placeholder {
	color: #c1c1c1;
}
input::-placeholder {
	color: #c1c1c1;
}

div.row a:hover {
	opacity: 1;
}

.fs-12 { font-size: 1.2rem!important; }
.fs-13 { font-size: 1.3rem!important; }
.fs-14 { font-size: 1.4rem!important; }
.fs-15 { font-size: 1.5rem!important; }
.fs-16 { font-size: 1.6rem!important; }

h2 + .ttl3_2 {
	margin-top: 20px;
}
.ttl3_2 {
	padding-bottom: 3px;
	font-size: 1.4rem;
	font-weight: normal;
	border-bottom: 1px solid #cbcbcb;
}

.spec_box {
	margin-top: 10px;
}
.spec_box ul {
	margin: 0;
	padding: 0;
}
.spec_box ul li {
	margin-left: 15px;
}
.btn {
	padding: 6px 20px;
	font-weight: normal;
}

.btn-flat { -webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0;
		border: none;
		outline: none;
		background: transparent;
	padding: 2px 20px;
	font-weight: normal;
	color: #fff;
background-color: #1abc9c;

border-color: #17a689;

background-image: linear-gradient(to bottom, #32b496, #2d9e84);

border-color: #4cae4c;
border-radius:3px;
}

div.row a.btn.btn-warning {
	color:white;
}
/* chosen.cssのspanとバッティングする為
	.search-box span:not(.nopadding) {
	padding: 5px;
	padding-left: 20px;
} */

.nowrap th, .nowrap td {
	white-space: nowrap;
}

a.underline {
	text-decoration: underline !important;
}

a.underline_red {
	text-decoration: underline !important;
	color: #ffa8a8;
}


a.make-button {
	color: #fff !important;
	width: 200px;
	line-height: 30px;
	height: auto;
	text-align: center;
	display: inline-block;
}

.flexarea {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex !important;
	align-items: center !important;
}

.flexarea > i {
	margin-top: 5px;
	padding-top: 5px;
}

.modal-header {
	background-color: #2e3780;
	color: white;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.428571429px;
	border-radius: 6px 6px 0 0 / 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0 / 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0 / 6px 6px 0 0;
}
.modal-content {
	position: relative;
	background-color: white;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0;
}

.modal-footer {
	text-align: center;
}

/* 180903 koike add
	 Admin LTEの.main-footerの代替 */
.main_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15px;
}

/* 180903 koike add
	 Admin LTEの.content-wrapperの詳細画面(別タブ版) */
.content_wrapper, .right-side {
	min-height: 100%;
	min-width: 1200px;

 	background-color: #f5f5f5;
	z-index: 800;
	min-width: 768px;
}

/* 190409 koike add
	 ヘッダーのtextとアイコンの装飾 */
.header_text {
	color:#0C59B8;
	display:inline-block;
	padding:3px 0 0;
	font-size: 1.2rem;
	text-shadow:1px 1px 0 #fff;
}
.header_text .fa-sign-out-alt {
	padding:2px 0 0;
	
}

/*ラジオボタン*/

.btn-group, .btn-group-vertical {

		position: relative;
		display: inline-block;
		vertical-align: middle;

}
.btn-group .btn-default {

	width:50%;
		font-size: 1.2rem;
		cursor: pointer;
		background-color: #e6e6e6;
		background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	padding-top:0;
	padding-bottom:0;
	line-height:24px;
	border: 1px solid #aaa;
	color: #999;

}

}
.btn-group > .btn, .btn-group-vertical > .btn {

		position: relative;
		float: left;

}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {

		border-bottom-right-radius: 0;
		border-top-right-radius: 0;

}
.btn-group .btn-default.active {

    color: white;
    background-color: #1abc9c;
    border-color: #17a689;
    background-image: linear-gradient(to bottom, #59c2aa, #32b496);
    text-shadow: none;
    font-weight: normal;

}

body .btn {
	font-size:1.2rem;
	font-weight:bold;
}

[name="frm_close"],
[name="frm_submit"],
[name="csv_export"]
{
	/* width: 80px; */
	height: 30px;
}


.flex_clear {
	flex: initial !important;
	//width: initial;
}

.month {
		height:32px;
		padding:5px;
		display: block;
		width: 100%;
		font-size: 10px;
		line-height: 1.428571429;
		color: #555555;
		background-color: white;
		background-image: none;
		border: 1px solid #cccccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

}

