.year {
    display:inline !important;
    width: 70px;
}
.month,.day {
    display:inline !important;
    width: 45px;
}

.next {
    display: inline-block;
    margin-right: 5px
}
.birthday-input-box span {
    margin:0px !important;
}