@charset "UTF-8";


body, h1, h2, h3, h4, h5, h6,
p, li, span, div, section, article,
input, select {
	font-family:""メイリオ", Meiryo,ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.skin-blue .main-header .logo b {
	visibility: hidden;
}

/*
	2020/04/17追加 by山本
*/

/* 全体 */

body {
    background-color: #111111;
    font-family: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.05em;
}


section.section-list {
    width: 1000px;

    padding-bottom: 100px;
	margin: 0 auto;
	padding-top: 80px;
	position:relative;

}

ul{
	margin:0;
}

input[type="radio"]{
	position: relative;
    /* margin-top: 3px; */
    /* display: inline-block; */
    /* padding: 124px; */
    height: 20px;
    top: 4px;
}

/* 一般  */
.show-off{
	display:none;
}
.f-left{
	float:left;
}

.mr10{
	margin-right:10px;
}
.link-type-1:hover{
	opacity:80;
}
.link-type-1{
	color:#fff;
	border:none;
	text-decoration: none;
}

.link-type-2:hover{
	opacity:80 !important;
}
.link-type-2{
	color:#fff;
	border:none;
	text-decoration: none;
	padding: 3px 20px;
	border: 1px solid #adadad;
}

.err-msg{
	color:#ff0000;
}

.elm-center{
	text-align:center;
}

.mt40{
	margin-top:40px;
}

.chousei-1{
	margin-left: -5px !important;
}
.clear{
	clear:both;
}
.error-msg{
	padding-top:0!important;
	margin-top:0;
	color:red;
}

/*特定商法エリア*/
.tokutei p, .tokutei h4 {
	width:80%;
	text-align:left;
}

.tokutei h4 {
	margin-bottom:1px;
}

.link-type-1:hover{
	opacity:50%;
}

.comment-type1-area{
	display:inline;
	margin:0;
	padding:0;
	font-size:12px;
}
.comment-type1{
	margin-top: 11px;
	margin-right: 0;
	padding-left:15px ;
	font-size:12px;
}


/* 見出し */

.block-tit {
    color: inherit;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Lusitana', '游明朝', "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "serif";
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #e0e0e0;
	margin: 0 0 60px;
}

.img1{
    width:100px;
    margin-left:25px;
    margin-top:15px;

}

/* ブロック */

.page-news .block-gosmania {
    display: block;
    text-align: left;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 30px auto 20px;
}



/* 中見出し 1page*/

.page-news .block-gosmania .block-tit {
    color: inherit;
    font-size: 18px;
    font-weight: 450;
    line-height: 1.6;
    letter-spacing: 0.05em;
	margin-bottom: 10px;

}


.txt-basic {
    color: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.05em;
    margin: 0 0 1em;
}



.credit-txt{
    margin-top:20px;
}

/* ボタン */

.page-news .btn {

	margin: .5em 0;
}

/* ログイン後の選択メニュー */
.flex-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.sp_none.flex-buttons{
    min-height: 212px;
}
.flex-buttons .btn-select{
    box-sizing: border-box;
    width:60%;
    position: relative;
}
.flex-buttons .btn-select:not(:first-of-type){
    margin-top: 40px;
}



.link-btn-sub {
	line-height: 3;
    min-width: 170px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 1.5em;
	cursor: pointer;
	background: transparent;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
	border-radius: 30px;

}

.link-btn-sub:hover {
	background:#fff;
	color:#000;
}
.btn-sub {
	line-height: 3;
    min-width: 170px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 1.5em;
	cursor: pointer;
	background: transparent;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
	border-radius: 30px;

}

/* select.php 上部用のボタン群 */
button.btn-sub.select_button{
    font-size: 14px;
    min-width: 90px;
    padding: 0 0;
    line-height: 25px;
    color: #A0A0A0;
    border-color: #A0A0A0;
}
button.btn-sub.select_button:disabled{
    color: #e0e0e0;
    border-color: #e0e0e0;
}
button.btn-sub.select_button:disabled:hover{
    background: transparent;

}
button.btn-sub.select_button:not(:first-child){
    margin-left: 15px;
}

.btn a{
	background: transparent;
    color: #e0e0e0;
	transition: all 0.3s ease;
}

.btn a:hover{
	background-color: #e0e0e0;
	color: #111111;
	transition: all 0.3s ease;

}

.btn button:hover{
	background-color: #e0e0e0;
	color: #111111;
	transition: all 0.3s ease;

}

.btn .entry:hover{
	background-color: #e0e0e0;
	color: #111;
	transition: all 0.3s ease;

}
.btn .return:hover{
    background-color: #1e90ff;
    border: #1e90ff;
	color: #111;
	transition: all 0.3s ease;

}


.btn input:active{
    outline: none;
}


.btn button:active{
    outline: none;
}

.section-list button:hover{
	background-color: #e0e0e0;
	color: #111111;
	transition: all 0.3s ease;

}

.section-list button:active{
    outline: none;
}

.btn button:focus{
    outline: none;
}

.disable {
	opacity:0.4;
	pointer-events: none; 
}


a {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.img3{
    display: none;

}



/* 2page */

.block-gosmania2{
    display: block;
    width:70%;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 30px auto 20px;

}

.block-gosmania2{
    display: block;
    width:70%;
    text-align: center;
    padding: 20px;
    margin: 30px auto 20px;

}

.block-gosmania2--comment2{
    display: flex;
    justify-content: space-between;
    width:74%;
    text-align:right;
    margin: 30px auto 20px;
    margin-bottom:-20px;

}
.block-gosmania2--comment{
    display: block;
    width:70%;
    margin-left:135px;;

}
.block-gosmania2 input{
	display:block;
	padding: 10px;
    width: 320px;
    margin: 20px auto;
    border: none;
    border-radius: 3px;
}

.tokutei-title{
	font-family: 'Lusitana', '游明朝', "Yu Mincho", YuMincho, "Hiragino Mincho ProN", serif;
}

.img2{
    display: none;

}

.txt-login{
    margin:30px 0;
}


/* 3page*/

.cardbrand{
    margin-top: 22px;
}

table {
	border-collapse: collapse;
  }

.credit-tit span{
    display:none;
}


.img4{
    display: none;

}


  .block-credit{
	display: block;
    text-align: left;
    margin-top: 30px;
    padding: 20px;
    margin: 60px auto 20px;
    width: 80%;

  }


  .block-credit input{
	padding: 10px;
    width: 320px;
    border: none;
    border-radius: 3px;
}

.block-credit th{
	text-align:center;
	width:40%;
	border: solid 1px #e0e0e0;

}

.block-credit td{
	padding: 20px;
	font-size: 13px;
	border: solid 1px #e0e0e0;
	text-align: left;
}


.block-credit select{
    border: 1px solid;
	padding: 7px;
    font-size: 16px;
	border-radius: 3px;
}

.block-credit ul{
	text-align: left;
	padding:0px;	

}

.block-credit ul li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	margin-bottom:-12px;
}

.credit-name{
    font-size:22px;
    margin-right: 30px;

}

.logout{
    position: absolute;
    top:10px;
    right:50px;
    display:flex;
    font-family: 'Lusitana', '游明朝', "Yu Mincho", YuMincho, "Hiragino Mincho ProN", serif;

}

.memberlimit{
    position: absolute;
	top:50px;
	right: 42px;
    font-size:16px;
    font-family: 'Lusitana', '游明朝', "Yu Mincho", YuMincho, "Hiragino Mincho ProN", serif;
}

.memberlimit span{
    font-size:10px;
}

.memberlimit--little-big{
    font-size:16.2px!important;
}

.btn-logout {
    min-width: 100px;
    font-size: 12px;
    /*height: 25px;
    padding-bottom: 9px;*/
}

.btn-entry{
	position: absolute;
    right: 100px;
}


.credit-tit{
	font-family: 'Lusitana', '游明朝', "Yu Mincho", YuMincho, "Hiragino Mincho ProN", serif;
	color: inherit;
    font-size: 18px;
    font-weight: 450;
    line-height: 1.6;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    width: 100%;
}

.width_middle input{
	width:150px;
}


.txt-credit{
    font-size: 13px;
}

.txt-credit--mt40{
    font-size: 13px;
	margin-top:40px;
}
.txt-credit--mt20{
    font-size: 13px;
	margin-top:20px;
}
.entry_radio{
    margin-right:20px;
}



.float_box span{
    display:none;
}

.radioArea label{
    font-size:16px;

}

.InformationSend label{
    font-size:16px;
}

/* 4page */

.txt-basic a{
	color:#e0e0e0;
}

.block-tit-done {
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.05em;
	margin-bottom: 10px;

}

.block-tit-done a{
    color: #E0E0E0;
    text-decoration: none;
}

/*--追加--*/
.section-list a i{
    top: calc(50% - 8px);
}

.sp{
    display: none;
}

.block-gosmania2--comment {
    margin: 0 auto;
}
.entry_form td input[type="text"].width_short {
    float: left;
}
.comment-type1-area {
    display: block;
    float: left;
}

.mt-for-credit-name{
	margin-top:12px;
}

.mobile{
	display:none;
}
.pc{
	display:block;
}
.block-gosmania2--comment {
    text-align: center;
}

.app2{
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app2 button{
    width:45% !important;
    overflow: hidden;
    word-wrap: break-word;
    height: 80px;
    line-height: 20px;
}


.ml-1{
    margin-left:0px !important;
}

@media screen and (max-width:639px) {
    /*スマホ用のcssを記述*/
	.mobile{
		display:block;
		flex-direction:column;
	}
	.pc{
		display:none;
	}

    .select_button{
        min-width: 80px;
        padding:0 1.5rem ;
        /* padding:0 1.2rem !important; */
        font-size: 14px ;
        line-height: 2.5 ;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .flex{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex !important;
        justify-content: space-evenly;
    }

    section.section-list{
    width: 100%;
    padding-top:0px;
    margin: 0 auto;
    }

	.mobile-row-1{
	/*	display:flex;*/
	}
	.mobile-row-2{
		clear:both;
		text-align:center;	
		margin-bottom:20px;
	}
	.mobile-row-2 .limit-txt{
		font-size:10px;
	}
	.mobile-row-2 .limit-txt1{
		font-size:16.2px;
	}
	.mobile-logo{
		flex-grow:1;
		    display: inline-block;
	}
	.mobile-logout{
		    display: inline-block;
		    float: right;
	}
	.mobile-logout .member-name {
		margin-bottom:0px;	
	}
	.mobile-logout .btn {
		margin-top:2px;	
	}
    .img1{
        display: none;
    }

    .img2{
        width: 120px;
        display: block;
        margin: 0 auto;
    }

    .img3{
        width: 120px;
        display: block;
        margin: 0 auto;
    }

    .block-gosmania2 input{
        width:100%;
    }
    .block-gosmania2--comment2{
	    text-align:center;
        margin-bottom:-34px;
        display: flex;
        flex-direction: column;
    }
    .block-gosmania2--comment2 .link-type-1, .block-gosmania2--comment2 span{
        display: block;
        width: 100%;
    }
    .block-gosmania2--comment2 span{
        order: 1;
    }

    /* select */

    .fas{
        margin-right:50px;
    }

    /* 3page */

    .img4{
        width:85px;
        display: block;
        margin:20px 0 0 30px;
    }

    .credit-name {
        font-size: 16px;
        margin-right: 30px;
        margin-bottom: 0;
    }

    .logout {
        position: absolute;
        top: 10px;
        right: 0px;
        display:flex;

    }
	.mt-for-credit-name{
		margin-top:14px;
		margin-right:4px;

	}
    .btn-logout {
        min-width: 80px;
        font-size: 12px;
	line-height: 2.5;
        /*height: 22px;
        padding-bottom: 10px;*/
    }

    .memberlimit {
       /* position: absolute;
        top:0px;
        right: 15px;
        font-size: 16px;*/
    }


    .txt-credit {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .credit-tit span{
        display:block;
        height: 1px;
    }

    .credit-tit{
        margin-left: 30px;
    }

    .block-credit input{
        width:100%;
    }

    .block-credit{
        width:95%;
    }

    .cardnum{
        margin-bottom:-15px;
    }

    .block-credit ul li span{
        font-size:8px;
    }

    .block-credit ul li{
        margin-right:0px;
    }

    .btn-entry {
        position: absolute;
        right: 8px;
    }

    .float_box span{
        display:block;
    }

    /*check*/

    .entry{
        min-width: 100px;
    }

    .return{
        min-width: 100px;
    }


/* 4page */

    .block-gosmania2 {
        margin: 40px auto 20px;
    }

/*--追加--*/
     .section-list .btn-sub{
        line-height: 1.7;
        padding: 1em 1.5em;
     } 
     .btn-sub {
      /*  min-width:130px;*/
    } 
     .section-list .flex-buttons .btn-select {
        width: 80%;
	padding-right: 0;

    } 
    .sp{
        display: block;
    }
    .comment-type1-area{
        margin-top: 10px;
    }
    .comment-type1 {
        display: inline;
        padding-left: 0px;
    }
    .card_com_ul .comment-type1 {
        display: block;
        margin-left: 10px;
    }

    .card_com_ul .chousei-1 {
        margin-left: 0px !important;
    }

    .credit-tit {
        margin-left: 6%;
        width:94%;
    }
	.memberlimit--little-big {
	    font-size: 14.2px!important;
	}
    .mobile-logout .member-name {
        text-align: right;
    }
    .block-tit {
        margin: 0 0 20px;
	font-size:28px;
    }
    .img2{
        width:90px;
    }

    .app2{
        justify-content: space-between;
        box-sizing: border-box;
        display: flex ;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .app3 button{
        word-wrap: break-word;
        height: 80px;
        line-height: 20px;
        padding:10px !important;
    }


}

      
@media only screen and (min-width:640px) and (max-width:1023px) {
    /*tablet用のcssを記述*/

    section.section-list{
        width: 100%;
        margin: 0 auto;
        }
    
        .img1{
            display: none;
        }
    
        .img2{
            width: 120px;
            display: block;
            margin: 0 auto;
        }
    
        .img3{
            width: 120px;
            display: block;
            margin: 0 auto;
        }
    

    
        /* 3page */
    
        .img4{
            width: 120px;
            display: block;
            margin:20px 0 0 30px;
        }
    

    
        .block-credit input{
            width:100%;
        }
    
        .block-credit{
            width:95%;
        }
    
        .cardnum{
            margin-bottom:-15px;
        }
    
        .block-credit ul li span{
            font-size:8px;
        }
    
        .block-credit ul li{
            margin-right:0px;
        }
    
        .btn-entry {
            position: absolute;
            right: 12px;
        }

        
    
    
    /* 4page */
    
        .block-gosmania2 {
            margin: 50px auto 20px;
        }


    /*--追加--*/
         .section-list .btn-sub{
            line-height: 1.7;
            padding: 1em 1.5em;
         }  
         .section-list .flex-buttons .btn-select {
            width: 80%;
        } 
        .comment-type1-area {
            display: block;
            float: left;
            width: 100%;
            margin-top: 10px;
        }
        .comment-type1 {
            display: inline;
            padding-left: 0px;
        }
        .chousei-1 {
            margin-left: 0px !important;
        }

        .card_com_ul .comment-type1 {
            display: block;
        }

    	.memberlimit--little-big {
    	    font-size: 14.2px!important;
    	}


    }


    /* 画像アスペクト　テストCSS */
.imgsumul {
	margin:0;
    padding:0;
    border:0;
    list-style-type: none;
    /* display:flex; */
    display: flex;
    flex-wrap:wrap;
    /* justify-content: space-around; */
}
.imgsumli {
	margin:0px;
	padding:0;
	border:1px solid black;
	/* background-color:white; */
	border-radius:4px;
}
.imgsuma{
	margin:0;
	padding:0;
	border:0;
	display:block;
	width:220px;
	height:130px;
}
.imgsum {
	margin:0;
	width:100%;
	height:100%;
	object-fit: cover;
}

.filebtn{
    min-width: 200px !important;
    line-height: 45px !important;
}