@charset "UTF-8";
/* CSS Document */

html{
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}

/*--- body ---*/

body > iframe {
    display: none;
}

/* link */


a,
a::before,
a::after {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/*
input, button, select, textarea {
    -webkit-appearance: none;
}

*/
button[type="submit"],
button[type="button"] {
    -webkit-webkit-box-sizing: content-box;
    -webkit-webkit-appearance: button;
    appearance: button;
    box-sizing: border-box;
    cursor: pointer;
    font-family:'Noto Sans Japanese',sans-serif;
}
button[type="submit"]::-webkit-search-decoration,
button[type="button"]::-webkit-search-decoration {
    display: none;
}
button[type="submit"]::focus,
button[type="button"]::focus {
    outline-offset: -2px;
}
button[type="submit"].clear,
button[type="button"].clear {
    width: 216px;
    height: 57px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px 0 #afafaf;
}
button[type="submit"].send {
    width: 216px;
    height: 57px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: #0084FF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px 0 #005cb1;
}
/*
input[type=radio],input[type=checkbox]{
    display: none;
}

*/
/*input[type=radio]:checked + label{

    background: rgba(0, 132, 255, 0.1);

}*/
.choice_tanmatu input[type=radio]:checked + label{
    padding: 0;
    background: none;
    border: none;
}
.choice_tanmatu input[type=radio]:checked + label > div{
    padding: 9px;
    background: rgba(0, 132, 255, 0.1);
    border: 2px solid #0084FF;
}
input[type="checkbox"]:checked + label {
    padding: 16px 19px ;
    background: rgba(0, 132, 255, 0.1);
    border: 2px solid #0084FF;
}
label:hover {
    cursor: pointer;
}

header {
    height: 50px;
    /* background-color: #0084FF; */
}
header div {
    width: 1000px;
    margin: 0 auto;
}
header div img{
    width: 140px;
    margin: 0 auto 0 0;
    padding: 5px 0 0 2px;
}
header div p{
	line-height:50px;
	color:#fff;
	font-size:24px;
	font-weight:bold;
}

#container {
    position: relative;
    display: block;
    width: 1000px;
    margin: 0 auto;
}
#main {
    width: 770px;
    margin: 0 auto 0 0;
    padding-bottom: 100px;
}
#main div.arrow {
    position: relative;
    padding-bottom: 80px;
}
#main div.arrow:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    margin: 0 auto;
    left: 42.5%;
    bottom: 20px;
    border-top: 30px solid #c8c8c8;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
h1 {
    margin: 0 auto 0 0;
    padding: 30px 0 3px;
    font-size: 30px;
    border-bottom: 1px solid #0084FF;
}
h2 {
    margin: 10px 0 15px;
    padding: 0 0 0 10px;
    font-size: 25px;
    line-height: 36px;
    border-left: 6px solid #0084FF;
}
h2.option {
    letter-spacing: -1px;
}
h2 span {
    font-size: 16px;
}
h3 {
    padding: 5px 0 10px;
    font-size: 22px;
    line-height: 22px;
}

#pankuzu {
    margin: 0 auto;
    padding: 30px 0;
}
#pankuzu li {
    position: relative;
    display: inline-block;
    width: 143px;
    height: 50px;
    margin: 0 20px 0 0;
    background: #71b8f0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    box-sizing: border-box;
}
#pankuzu li.select {
    color: #fff;
    background: #0084FF;
}
#pankuzu li:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    right: -15px;
    border-left: 15px solid #71b8f0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
#pankuzu li.select:after {
    border-left: 15px solid #0084FF;
}

#price_box {
    position: absolute;
    width: 220px;
    top: 202px;
    left: 50%;
    margin-left: 280px;
}
#price_box .type {
    padding-bottom: 5px;
    font-size: 17px;
    border-bottom: 2px dotted #ccc;
}
#price_box .tanmatu_box {
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid #0084FF;
    border-radius: 7px 7px 0 0;
}
#price_box .plan_box {
    background-color: #fff;
    border: 2px solid #0084FF;
    border-radius: 0 0 7px 7px;
}
#price_box .tanmatu_box .ttl,
#price_box .plan_box .ttl{
    padding: 3px;
    color: #fff;
    text-align: center;
    letter-spacing: 7px;
    background-color: #0084FF;
}
#price_box .content {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
#price_box .price {
    padding: 0 15px 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: right;
}
#price_box .price span {
    font-size: 33px;
}
#price_box .option_box {
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
    background: #eee;
}
#price_box .option_box .ttl {
    padding-bottom: 5px;
    font-weight: 500;
    border-bottom: 2px dotted #ccc;
}
#price_box .option_box .option {
    margin-top: 5px;
    font-weight: 300;
}

.choice_simset {
    padding: 2px 0 10px;
    text-align: left;
}
.choice_simset li {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
}
.choice_simset li label {
    display: block;
    width: 370px;
    height: 173px;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 7px;
    box-sizing: border-box;
}
.choice_simset li img{
    display: block;
    width: 87px;
    height: 109px;
    margin: 0 auto;
    padding: 5px 0 0;
}

.choice_tanmatu {
    padding: 10px 0;
    text-align: left;
}
.choice_tanmatu li {
    display: inline-block;
}
.choice_tanmatu li div.con_box {
    width: 243px;
    height: 143px;
    margin: 0 9px 10px 0;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #afafaf;
    border-radius: 7px;
    box-sizing: border-box;
}
.choice_tanmatu li div.con_box div{
    padding-bottom: 5px;
    text-align: left;
}
.choice_tanmatu li img{
    display: inline-block;
    width: 50px;
    height: 60px;
    margin: 0 auto;
    padding-left: 10px;
    vertical-align: middle;
}
.choice_tanmatu li p{
    display: inline-block;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: middle;
}
.choice_tanmatu li p span {
    display: block;
    font-size: 12px;
    line-height: 15px;
}
.choice_tanmatu li dl {
    font-size: 12px;
    text-align: center;
}
.choice_tanmatu li dl dt {
    display: inline-block;
    width: 125px;
    text-align: right;
}
.choice_tanmatu li dl dd {
    display: inline-block;
    width: 90px;
    text-align: right;
    line-height: 24px;
}
.choice_tanmatu li dl dd span {
    font-size: 20px;
    font-weight: 400;
}

.choice_plan,
.choice_simkikaku {
    padding: 2px 0 10px;
    text-align: left;
}
.choice_plan li {
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    vertical-align: top;
}
.choice_plan li label {
    display: block;
    width: 243px;
    height: 135px;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 7px;
    box-sizing: border-box;
}
.choice_plan li img{
    display: block;
    width: 215px;
    height: 65px;
    margin: 0 auto;
    padding: 5px 0;
}

.choice_simkikaku li {
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    vertical-align: top;
}
.choice_simkikaku li label {
    display: block;
    width: 243px;
    height: 160px;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 7px;
    box-sizing: border-box;
}
.choice_simkikaku li img{
    display: block;
    width: 55px;
    height: 90px;
    margin: 0 auto;
    padding: 5px 0 10px;
}

.choice_keiyaku,
.choice_shiharai,
.choice_simtype {
    padding: 2px 0 10px;
    text-align: left;
}
.choice_keiyaku li,
.choice_shiharai li,
.choice_simtype li {
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    vertical-align: top;
}
.choice_keiyaku li label,
.choice_shiharai li label,
.choice_simtype li label{
    display: table-cell;
    width: 243px;
    height: 135px;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 7px;
    vertical-align: middle;
    box-sizing: border-box;
}

table.mnp {
    width: 755px;
    border-collapse: collapse;
}
.mnp th {
    position: relative;
    width: 220px;
    padding: 15px;
    font-size: 13px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.mnp th span {
    position: absolute;
    top: 20px;
    right: 15px;
    margin: 0 0 0 auto;
    padding: 0 4px;
    color: #fff;
    font-size: 12px;
    text-align: right;
    background: #0084FF;
    border-radius: 3px;
}
.mnp td {
    width: auto;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #ccc;
}
.mnp td ul {
    text-align: left;
}
.mnp td li{
    display: inline-block;
    margin-right: 20px;
}
.mnp td input[type="text"] {
    width: 230px;
    padding: 5px;
    border: 1px solid #ccc;
}
.mnp td select {
    width: 80px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.choice_option {
    padding: 2px 0 10px;
    text-align: left;
}
.choice_option li {
    position: relative;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    vertical-align: top;
}
.choice_option li label {
    display: block;
    width: 755px;
    height: 150px;
    padding: 17px 20px;
    border: 1px solid #afafaf;
    border-radius: 7px;
    box-sizing: border-box;
}
.choice_option li span.text{
    display: block;
    width: 520px;
    text-align: justify;
}
.choice_option li span.text strong{
    display: block;
    padding-bottom: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.choice_option li span.price {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
}

.app {
    padding: 50px 0;
    text-align: center;
}
.app button{
    display: inline-block;
    margin: 0 5px;
    background: transparent;
    color: #e0e0e0;
    transition: all 0.3s ease;
    width: 20%;
}

.pc_none {
    display: none;
}

/* =========================================================================================
// 2018/02/05 add
========================================================================================= */

/* common
----------------------------------------------------------------------------------------- */

table.entry_form {
	width:100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.entry_form th {
    background: #000;
    width: 230px;
    padding: 12px 15px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 13px;
}

.entry_form th span {
    float:right;
    margin: 0;
    padding: 1px 5px;
    color: #ff0000;
    font-size: 12px;
    text-align: right;
    border: 1px solid #ff0000;
    border-radius: 3px;
}

.entry_form td {
    width: auto;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #ccc;
}

.entry_form td p {
	padding-top:10px;
}

.entry_form td ul {
    text-align: left;
    padding-left: 0px;
    
}

.entry_form td ul li {
    margin-right: 15px;
    display: inline-block;
}

.entry_form td input[type="number"],
.entry_form td input[type="text"],
.entry_form td input[type="email"],
.entry_form td input[type="password"] {
    width: 230px;
	margin:0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/*
.entry_form input[type=radio],
.entry_form input[type=checkbox] {
	display: inline;
}
*/

.entry_form td select {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* class
---------------------------------------------- */

.entry_form td input[type="text"].width_short {
	width:100px;
}

.entry_form td input[type="text"].width_very_short {
	width:70px;
}

.entry_form .float_left {
	float:left;
}

.entry_form .float_box {
	display:block;
	float:left;
	margin-left:15px;
	padding-top:3px;
	font-size:12px;
	line-height:14px;
}

.entry_form .clear_both {
	clear:both;
	margin-bottom:5px;
}

.entry_form .color_red {
	background:#ebfbff;
	font-weight:bold;
}



.entry_form .text_center {
	text-align:center;
}

.entry_form .text_right {
	text-align:right;
}

/* addr
---------------------------------------------- */

.entry_form tr.addr {
}

.entry_form tr.addr td span {
	width:135px;
	height:32px;
	display:block;
	clear:both;
	float:left;
	margin-top:10px;
	line-height:32px;
	white-space:nowrap;
}

.entry_form tr.addr td span:nth-of-type(3) {
	width:100%;
	clear:both;
	margin-bottom:-10px;
	font-size:11px;
}

.entry_form tr.addr td input,
.entry_form tr.addr td select {
	width:500px;
	margin-top:10px;
}

.entry_form tr.addr td input[type="button"] {

	width:84px;
	height:30px;
	margin:0 15px 0 5px;
	border:1px solid #C8C8C8;
	color:#fff;
	font-weight:bold;
}

/* relationship
---------------------------------------------- */

.entry_form tr.relationship {
}

.entry_form tr.relationship th span {
	margin-top:-15px;
}

.entry_form tr.relationship td {
	padding:25px 20px 20px;
}

.entry_form tr.relationship td input[type=checkbox] {
    -webkit-appearance: checkbox;
}

.entry_form tr.relationship td input[type=radio] {
    -webkit-appearance: radio;
}

/* error
---------------------------------------------- */

.error_message {
	background:#FFC0CB;
	margin:-30px 0 20px;
	padding:18px 20px;
	border:1px solid #800000;
	border-radius: 5px;
}

.form_error {
	clear:both;
	color:#cc0000;
}


/* second
----------------------------------------------------------------------------------------- */

#second {
}

#second table.entry_form {
	margin-bottom:50px;
}

#second table.entry_form input[type=radio] {
	display: inline;
    -webkit-appearance: radio;
}

#second .choice_keiyaku {
	margin-bottom:30px;
}

#second .choice_keiyaku li:last-child {
	float:right;
	margin:0;
}

#second .choice_keiyaku li label {
	width:490px;
}

#second .choice_keiyaku li {
	position:relative;
}

#second .choice_keiyaku li span {
	font-size:16px;
}

#second .choice_keiyaku input[type=radio] {
	display: inline;
	position:absolute;
	top:60px;
	left:20px;
    -webkit-appearance: radio;
}

/*--追加--*/
.entry_form td p {
    padding-top: 0px; 
}


/* ====================================================================================== */

/*------------------------------------------------------------------------------------------
sp（320px～667px）
------------------------------------------------------------------------------------------*/
@media screen and (max-width: 667px) {

.choice_tanmatu input[type=radio]:checked + label {
    width: 100%;
    border-radius: 7px;
}
input[type="checkbox"]:checked + label {
    padding: 16px 19px ;
    background: rgba(0, 132, 255, 0.1);
    border: 2px solid #0084FF;
}

header {
    height: 40px;
}
header div {
    width: 100%;
    margin: 0 auto;
}
header div img{
    width: 100px;
    padding: 6px 0 0 10px;
}
header div p{
	line-height:40px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	padding:0 0 0 10px;
}

#container {
    width: 100%;
    min-width: 320px;
}
#main {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
#main div.arrow {
    padding-bottom: 40px;
}
#main div.arrow:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    border-top: 20px solid #c8c8c8;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}
#price_box {
    display: none;
}

h1 {
    width: 95%;
    margin: 0 auto;
    padding: 15px 0 3px;
    font-size: 22px;
}
h2 {
    width: 95%;
    margin: 5px auto 10px;
    padding: 5px 0 5px 10px;
    font-size: 19px;
    line-height: 23px;
    box-sizing: border-box;
}
h2 span {
    display: block;
    font-size: 14px;
}
h2.option {
    letter-spacing: 0;
}
h3 {
    width: 95%;
    margin: 0 auto;
    padding: 5px 0 10px;
    font-size: 18px;
    line-height: 18px;
}

#pankuzu {
    width: 95%;
    padding: 15px 0 20px;
}
#pankuzu li {
    width: auto;
    height: 35px;
    margin: 0 5.5% 0 0;
    padding: 0 0.5% 0 2%;
    font-size: 12px;
    line-height: 35px;
}
#pankuzu li span {
    display: none;
}
#pankuzu li.select {
    color: #fff;
    background: #0084FF;
}
#pankuzu li:after {
    right: -12px;
    border-left: 12px solid #71b8f0;
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;
}
#pankuzu li.select:after {
    border-left: 12px solid #0084FF;
}

.choice_simset {
    padding: 0 0 10px;
    text-align: center;
}
.choice_simset li {
    display: inline-block;
    width: 46%;
    margin: 0 1%;
    font-size: 14px;
    text-align: center;
}
.choice_simset li label {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
}
.choice_simset li img{
    display: block;
    width: 67px;
    height: auto;
    padding: 5px 0;
}

.choice_tanmatu,
.choice_simkikaku,
.choice_plan  {
    margin: 0 0 0 2%;
    padding: 5px 0;
    text-align: left;
}
.choice_tanmatu li,
.choice_simkikaku li,
.choice_plan li {
    width: 46%;
    margin: 0 1% 3%;
}
.choice_tanmatu li label,
.choice_simkikaku li label,
.choice_plan li label{
    width: 100%;
    height: auto;
}
.choice_tanmatu li div.con_box {
    width: 100%;
    height: auto;
    margin: 0;
}
.choice_tanmatu li img {
    display: block;
    padding-left: 0;
}
.choice_tanmatu li div.con_box p{
    display: block;
    height: 3.5em;
    padding: 5px 0 0;
    margin: 0 auto;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}
.choice_tanmatu li div.con_box p span {
    display: block;
    font-size: 12px;
    line-height: 15px;
}
.choice_tanmatu li dl {
    max-width: 140px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}
.choice_tanmatu li dl dt {
    display: block;
    width: auto;
    text-align: left;
}
.choice_tanmatu li dl dd {
    display: block;
    width: auto;
}
.choice_tanmatu li dl dd span {
    font-size: 20px;
    font-weight: 400;
}
.choice_plan li img{
    width: 100%;
    height: auto;
}
.choice_plan li p{
    height: 4.5em;
    text-align: justify;
    line-height: 17px;
}
.choice_simkikaku li img {
    width: 45px;
    height: auto;
}
.choice_simkikaku li {
    font-size: 16px;
    line-height: 24px;
}
.choice_shiharai,
.choice_simtype,
.choice_keiyaku {
    padding: 2px 0 10px;
    text-align: center;
}
.choice_shiharai li,
.choice_simtype li,
.choice_keiyaku li {
    display: inline-block;
    width: 46%;
    margin: 0 1%;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.choice_shiharai li label,
.choice_simtype li label,
.choice_keiyaku li label{
    display: table-cell;
    width: 350px;
    height: 100px;
    padding: 0;
}

table.mnp {
    width: 95%;
    margin: 0 auto;
}
.mnp th {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
}
.mnp th span {
    top: 12px;
    right: 15px;
}
.mnp td {
    display: block;
    width: auto;
    margin: -1px 0;
}
.mnp td li{
    width: 30%;
    margin-right: 2%;
}
.mnp td input[type="text"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
}
.mnp td select {
    width: 70%;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.choice_option {
    padding: 2px 0 10px;
    text-align: left;
}
.choice_option li {
    margin: 0 0 3%;
    font-size: 12px;
    line-height: 18px;
}
.choice_option li label {
    width: 95%;
    height: auto;
    margin: 0 2.5%;
}
.choice_option li span.text{
    display: block;
    width: 100%;
    text-align: justify;
}
.choice_option li span.text strong{
    font-size: 16px;
    line-height: 22px;
}
.choice_option li span.price {
    position: initial;
    display: block;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}

.app {
    padding: 5% 0;
}
.app button{
    display: inline-block;
    margin:0 5px;
    background: transparent;
    color: #e0e0e0;
    transition: all 0.3s ease;
    width: 20%;
}

.pc_none {
    display: block;
}
.sp_none {
    display: none;
}

/* =========================================================================================
// 2018/02/05 add
========================================================================================= */

/* common
----------------------------------------------------------------------------------------- */

table.entry_form {
    width: 95%;
    margin: 40px auto;
}

.entry_form th {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
    text-align:left;
}

.entry_form th span {
    top: 12px;
    right: 15px;
}

.entry_form td {
    display: block;
    width: auto;
    margin: -1px 0;
}

.entry_form td ul {
}

.entry_form td ul li {
    width: 35%;
    margin-right: 2%;
}

.entry_form td input[type="text"],
.entry_form td input[type="email"],
.entry_form td input[type="password"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.entry_form input[type=radio],
.entry_form input[type=checkbox] {
}

.entry_form td select {
    width: 70%;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* class
---------------------------------------------- */

.entry_form td input[type="text"].width_short {
	width: 40%;
	max-width:110px;
	min-width:80px;
}

.entry_form td input[type="text"].width_very_short {
	width:60px;
}

.entry_form .float_left {
	float:inherit;
}

.entry_form .float_box {
	display:block;
	float:inherit;
	margin-left:0px;
	padding-top:10px;
	font-size:12px;
	line-height:14px;
}

.entry_form .clear_both {
	clear:both;
	margin-top:15px;
	margin-bottom:5px;
}

.entry_form .color_red {
}

.entry_form .color_red .text_right {
}

.entry_form .text_center {
}

.entry_form .text_right {
}

/* addr
---------------------------------------------- */

.entry_form tr.addr {
}

.entry_form tr.addr td span {
	width:100%;
	height:auto;
	display:block;
	float:inherit;
	margin-top:10px;
	line-height:inherit;
	white-space:nowrap;
}

.entry_form tr.addr td span:nth-of-type(3) {
	width:100%;
	clear:both;
	margin-top:20px;
	margin-bottom:-30px;
	font-size:11px;
}

.entry_form tr.addr td input,
.entry_form tr.addr td select {
	width:80%;
	margin-top:5px;
}

.entry_form tr.addr td input[type="button"] {
	background:#0084FF;
	width:84px;
	height:30px;
	margin:0 15px 5px 5px;
	border:1px solid #C8C8C8;
	color:#fff;
	font-weight:bold;
}

/* relationship
---------------------------------------------- */

.entry_form tr.relationship {
}

.entry_form tr.relationship th span {
	margin-top:0;
}

.entry_form tr.relationship td {
	padding:15px;
}

/* error
---------------------------------------------- */

.error_message {
	background:#FFC0CB;
    width: 95%;
	margin:-30px auto 20px;
	padding:18px 20px;
	border:1px solid #800000;
	border-radius: 5px;
    box-sizing: border-box;
}

.form_error {
	clear:both;
	color:#cc0000;
}


/* second
----------------------------------------------------------------------------------------- */

#second {
}

#second table.entry_form {
}

#second table.entry_form input[type=radio] {
}

#second .choice_keiyaku {
}

#second .choice_keiyaku li:last-child {
	float:inherit;
}

#second .choice_keiyaku li label {
}

#second .choice_keiyaku li {
}

#second .choice_keiyaku li span {
	font-size:12px;
}

#second .choice_keiyaku input[type=radio] {
	top:43px;
}


/* third
----------------------------------------------------------------------------------------- */

#third {
}

#third h3 {
}

#third p {
    width: 95%;
    margin: 0 auto 50px;
}

#third p:first-of-type {
	/* margin:0px auto 20px; */
}

#third p:last-of-type {
	margin-bottom:20px;
}

#third table {
}

#third .sp_none {
	display:none;
}


/* fourth
----------------------------------------------------------------------------------------- */

#fourth {
}

#fourth h2 {
}

#fourth h4 {
    width: 95%;
	margin:0 auto 20px;
	padding:18px 20px;
	border:1px solid #ccc;
	border-radius: 5px;
    box-sizing: border-box;
}

#fourth h4 span {
    background: #0084FF;
    margin:0 0 0 15px;
    padding:0 10px;
    color: #fff;
    font-size: 12px;
	text-align:center;
    border-radius: 3px;
}

#fourth h5 {
    width: 95%;
    margin: 20px auto 10px;
    padding: 0 0 0 10px;
    border-left: 5px solid #ccc;
    box-sizing: border-box;
}

#fourth .entry_form {
	margin-bottom:50px;
}

#fourth input[type=checkbox] {
	display: inline;
	margin:20px 10px 0px 0;
}

#fourth input[type=file] {
	margin:10px 0 20px 0;
	font-size:12px;
}

#fourth select {
    width: 95%;
	display:block;
	margin:0 auto 20px;
	padding:6px 20px;
	border:1px solid #0084FF;
	border-radius: 5px;
}

#fourth p {
	margin:20px 0 10px;
	padding:0 2.5%;
	line-height:22px;
}

#fourth p.JS-fw04-pl {
	line-height:32px;
}

#fourth .font_red {
	color:#cc0000;
}

#fourth a {
	color:#12c;
	text-decoration:underline
}

#fourth ul {
	height:auto;
	margin-bottom:50px;
}

#fourth ul li {
	width:95%;
	display:block;
	margin:0 auto;
	float:inherit;
}

#fourth ul li input[type=file] {
	margin-left:0px;
	/* margin-left:10px;
	line-height:42px; */
}

#fourth ul li a.dl_btn {
	background:#E2E2E2;
	width:100%;
	height:40px;
	display:block;
	float:left;
	position:relative;
	border:1px solid #808080;
	border-radius: 5px;
	text-align:center;
	color:#000;
	font-size:18px;
	line-height:40px;
	text-decoration:none;
}

#fourth ul li p {
}

#fourth ul li .form_error {
	padding:0 0 20px;
}

#fourth ul li a i {
	position:absolute;
	top:10px;
	right:10px;
}

#fourth .form_error {
	padding:0 2.5%;
}

#fourth #filtering {
}

#fourth #filtering p {
	margin-bottom:20px;
	line-height:24px;
}

#fourth #filtering p.text-indent {
	padding:0 2.5% 0 25px;
}

#fourth #filtering label {
	width:95%;
	display:block;
	margin:10px auto;
}

#fourth #filtering label input[type=radio] {
	display: inline;
	margin:0 5px 0 0;
}


/* fifth
----------------------------------------------------------------------------------------- */

#fifth {
	width:95%;
	margin:0px auto 0;
}
#fifth p {
	padding:80px 0 80px;
	font-size:15px;
	line-height:28px;
	letter-spacing:1px;
}

/* ====================================================================================== */

/*--追加--*/
.entry_form td input[type="email"],.entry_form td input[type="text"]{
    /*width: 97%;*/
    width: 93%;
}
.entry_form td ul.card_com_ul li {
    width: 100%;
    margin-right: 0;
}
.entry_form td {
    overflow: hidden;
}

}

/* ====================================================================================== */

/*
	以下　2021/03/10追加 by畑
*/
figure {
    float: left;             /* 左に寄せて後続を右に回り込ませる */
    margin: 0px 7px 7px 0px; /* 外側に余白を加える(右に7px・下に7px) */
    /* background-color: #ccc;  背景色 */
}
figure img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 3px 3px; /* 下側にだけ3pxの余白を追加 */
}
figure video {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 3px 3px; /* 下側にだけ3pxの余白を追加 */
}
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: center;      /* 中身をセンタリング */
}
div.imagearea:after {
    content: "";      /* ※Clearfix */
    clear: both;
    display: block;
}


/* 画像のアスペクト比 */
.photo{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100px;;
    height: 130px;
}
.photo  img{
    width: 100%;
    height: auto;
    /*画像のセンタリング（中央寄せ）*/
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}